<!--
Copyright 2025 wyra.net - All rights reserved
-->
<script src="/static/js/dropdown.js"></script>
<script src="/static/js/user/pfp.js"></script>
<nav class="navbar">
    <a style="text-decoration: none;" href="/">Wyra </a>
    <div class="dropdown">
        <a class="navbar-button dropdown-btn" href="/products">Products</a>
        <div class="dropdown-content">
          <p>No products :(</p>
        </div>
      </div>
    <a class="navbar-button" style="text-decoration: none;"> |</a>
    <div class="dropdown">
        <a class="navbar-button dropdown-btn" href="/services">Services</a>
        <div class="dropdown-content">
          <p>No services :(</p>
        </div>
      </div>
      <a id="userlogin-23904123" class="navbar-button" style="float: right;" href="/auth/login">Login</a>
</nav>
<!-- Removed JSD widget/Atlassian script -->
