<!DOCTYPE html>
<!--
Copyright 2024 wyra.net - All rights reserved
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/brand-images/wyra-circle.png">
    <title>Wyra | Products</title>
</head>
<body>
    <script src="/static/js/copyright.js"></script> 
    {% include 'navbar.html' %}
    <div class="content">
        <h1>Products, for simplicity.</h1>
    </div>
    <br>
    <footer class="footer">
        <div class="footer-content">
            <div id="copyright">
                &copy; 2024 - 2024 wyra.net - All Rights Reserved. • <a target="_blank" href="mailto:support@wyra.net">Contact Us / Support</a>
            </div>
        </div>
        </footer>
    {% block content %}
    {% endblock %}
</body>
</html>