body {
    font-family: 'Hack', monospace;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar-button {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-button:hover {
    background-color: #444;
}

.content {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    padding: 0 20px;
}

.footer a {
    color: #ddd;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

/* Dropdown styles */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-btn {
    border: none;
    outline: none;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a, .dropdown-content p {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
